data/rwhar_data.csv
data/wetlab_data.csv
data/
logs/
images/
best_files_exp/
best_files_GA/
best_files_SA/
Results/
for_experiment.py
testing_script.py
ml_training_data/
data/
./GA_model/__pycache__/
out_err/
*.sh
*.out
*.pyc
*.csv
test_script_temp.py
temp_files_del_later/